#random-quote-generator {
    text-align: center;
    color: rgb(0, 0, 0);
}

#random-quote-title {
    margin: 30vh 0 10vh 0;
    font-size: 5vh;
}

#random-quote-text {
    font-size: 3vh;
    width: 40vw;
    margin: 0 auto;
}

#random-quote-author {
    font-size: 2vh;
    margin: 1vh 0 10vh 0;
}

#new-random-quote {
    font-size: 2vh;
    border: 1px solid rgb(60, 23, 23);
    width: fit-content;
    margin: 0 auto;
    border-radius: 6px;
}

#new-random-quote:hover {
    cursor: pointer;
    font-weight: bolder;
}